/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html{
    font-size: 100%;
}

h1, h2, p, a {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 2.5rem;
}
/* header and footer styling */
header {
    background-color: #4a7c59;
    padding: 20px;
    margin-bottom: 15px;
    color: white;
    height: 100px;
}
header nav {
    padding-top: 10px;
}
footer {
    background-color: #4a7c59;
    text-align: center;
    padding: 20px;
    color: white;
    height: 100px;
}
footer h2 {
    padding-top: 20px;
    padding-bottom: 5px;
}
/* top section styling */
.topsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.topsection img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.description {
    padding: 20px;
    width: 50%;
}
/* gallery section styling */
.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}
.row img {
    height: 200px;
    width: 200px;
}
]
.portfolio-element {
    text-align: center;
}
/* button styling */
button {
    background: #8fc0a9;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #8fc0a9
}
button:hover {
    background: white;
    color: #8fc0a9;
    border: 1px solid #8fc0a9;
}
button a {
    text-decoration: none;
    color: inherit;
}

/* Responsive Design Styling/media queries */

/* 800px styling */
@media (max-width:800px) {
    /* header styling 800px */
    header {
        height: 170px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
    .header nav{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        height: 110px;
    }
    /* top section styling 800px */
    .topsection {
        flex-direction: column;
        align-items: center;
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* gallery section styling 800px */
    .row {
        flex-wrap: wrap;
    }
}

/* 500px styling */
@media (max-width:500px) {
    /* header styling 500px */
    header {
        display: flex;
        justify-content: center;
        height: 170px;
        width: 100%;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
    .header nav{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        height: 110px;
    }
    /* top section styling 500px */
    .topsection {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .topsection img {
        height: 150px;
        width: 200px;
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description p{
        text-align: center;
    }
    /* gallery section styling 500px */
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .row {
        flex-wrap: wrap;
        width: 50%;
    }
    .row img {
        height: 100px;
        width: 100px;
    }
    .row p{
        text-align: center;
    }
}